/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global styles */
body {
  font-family: Arial, sans-serif;
  font-size: large;
  line-height: 1.6;
  color: #333;
  width: 21cm; /* A4 width */
  height: 29.7cm; /* A4 height */
  margin: 0 7cm; /* Margin around the page */
  background: #fff;
}

header {
  max-width: 800px;
  margin: 40px;
}

/* Header */
.head_name {
  text-align: center;
  margin-bottom: 20px;
}

#main {
  margin-left: 100px;
  margin-right: 50px;
}

.name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
}

.heading::after {
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  background-color: black;
}

.job {
  font-size: 18px;
  margin-bottom: 10px;
}

.contact {
  font-size: 14px;
}

.contact a {
  color: #333;
  text-decoration: none;
  margin-right: 10px;
}

.close {
  margin-left: 10px;
}

.close i {
  margin-right: 5px;
}

/* Objectives */
div h1 {
  font-size: 20px;
  margin-bottom: 10px;
}

/* Education */
.uni p {
  margin-bottom: 10px;
}

/* Professional Experience */
.sect1 ul {
  list-style: disc;
  margin-left: 20px;
  margin-bottom: 10px;
}

.job_title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

/* Skills */
.skills ul {
  list-style: square;
  margin-left: 20px;
  margin-bottom: 10px;
}

/* Projects */
div h1 + ul {
  list-style: square;
  margin-left: 20px;
  margin-bottom: 10px;
}

/* Certifications */
.certifications ul {
  list-style: disc;
  margin-left: 20px;
  margin-bottom: 10px;
}

/* References */
div h1:last-child {
  font-size: 20px;
  margin-bottom: 10px;
}

/* Links */
a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Responsive styles */
@media (max-width: 600px) {
  header {
    padding: 10px;
  }

  .name {
    font-size: 20px;
  }

  .job {
    font-size: 16px;
  }
}
